@import "../../common/variables/variables.scss";

.loader {
  position: relative;
  background: conic-gradient(transparent, white);
  height: 33px;
  width: 33px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: load 2s linear infinite;
  margin: auto;
}

.loader:before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-color: transparent;
}

@keyframes load {
  100% {
    transform: rotate(360deg);
  }
}
