//colors

$titleTextColor: #111111;
$textColor: #575757;
$mobileInputTextColor: #333e48;
$inputTextColor: #575757;
$inputBackgroundColor: #f3f3f4;
$sliderColor: #ff9514;
$sliderBackgroundColor: #e1e1e1;
$buttonTextColor: #ffffff;
$disabledButtonBackgroundColor: rgba(255, 149, 20, 0.4);
$resultsTextColor: #333333;

//fonts
$titleFont: "Nekst-Black", sans-serif;
$textFont: "Gilroy", sans-serif;
